name: Push Workflow

on:
  push:
    branches:
      - main
      
  pull_request:
    branches:
      - main
      

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run build
        run: echo "Building on push event"

      - name: Run tests
        run: echo "Running tests"
